<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">Mon App</ion-button>
      <ion-button [routerLink]="['/create-collection']">Créer une collection</ion-button>
      <ion-button [routerLink]="['/list-collection']">Liste des collections</ion-button>
      <ion-button [routerLink]="['/list-games']">Liste des jeux</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="gallery">
    <ion-item class="card-item" *ngFor="let jeu of listJeux">
      <div class="card">
        <div class="card2">
          <img *ngIf="jeu.coverImage" [src]="jeu.coverImage" alt="Collection Image" />
          <ion-label class="align-center" id="title">{{ jeu.title }}</ion-label>
          <ion-label>{{ jeu.description }}</ion-label>
          <ion-label class="align-center" id="date">{{ jeu.releaseYear| date: 'dd-MM-yyyy' }}</ion-label>
          <ion-label class="align-center" id="date">{{ jeu.addedAt| date: 'dd-MM-yyyy' }}</ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>