<ion-header>
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedForm" value="collection">
        <ion-segment-button value="collection">
          <ion-label>Créer une collection</ion-label>
        </ion-segment-button>
        <ion-segment-button value="game">
          <ion-label>Créer un jeu</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="custom-page-background">
  <!-- Formulaire de collection -->
  <div *ngIf="selectedForm === 'collection'" class="form-container">
    <ion-list>
      <ion-item>
        <ion-input
        class="form-container"
          [(ngModel)]="newCollectionName"
          label="Nom de la collection"
          labelPlacement="stacked"
          [clearInput]="true"
          placeholder="Entrez le nom de la collection">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="newCollectionDescription"
          label="Description"
          labelPlacement="stacked"
          [clearInput]="true"
          placeholder="Entrez une description">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Image de la collection</ion-label>
        <input type="file" (change)="onImageChange($event)" />
      </ion-item>
    </ion-list>
    <div class="btn-add">
      <button class="style-button-valid" (click)="addCollection()">
        Valider
      </button>
    </div>
  </div>

  <!-- Création jeu vidéo -->
  <div *ngIf="selectedForm === 'game'" class="form-container">
    <ion-list>
      <ion-item>
        <ion-input
          [(ngModel)]="newGameName"
          label="Nom du jeu"
          labelPlacement="stacked"
          [clearInput]="true"
          placeholder="Entrez le nom du jeu">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="newGamePlatform" placeholder="Selectionnez la console">
          <div slot="label">Console :</div>
          <ion-select-option value="ps5">PlayStation 5</ion-select-option>
          <ion-select-option value="ps4">PlayStation 4</ion-select-option>
          <ion-select-option value="xbox">Xbox Series X</ion-select-option>
          <ion-select-option value="switch">Nintendo Switch</ion-select-option>
          <ion-select-option value="pc">PC</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="newCollectionGames" placeholder="Sélectionnez la collection">
          <div slot="label">Collection :</div>
          <ion-select-option *ngFor="let collection of collections" [value]="collection.id">
            {{ collection.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="newGameDescription"
          label="Description"
          labelPlacement="stacked"
          [clearInput]="true"
          placeholder="Entrez une description">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="newGameNbHeures"
          type="number"
          label="Heures de jeu"
          labelPlacement="stacked"
          placeholder="Entrez le nombre d'heures de jeu">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date de sortie</ion-label>
        <ion-datetime 
          [(ngModel)]="newGameReleaseYear" 
          displayFormat="DD/MM/YYYY" 
          placeholder="Sélectionnez la date de sortie"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Image du jeu</ion-label>
        <input type="file" (change)="onImageChange($event)" />
      </ion-item>
    </ion-list>
    <div class="btn-add">
      <button class="style-button-valid" (click)="addGame()">
        Valider
      </button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <ion-buttons class="center-icons">
      <ion-button [routerLink]="['/list-collection']">
        <ion-icon name="library-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/list-games']">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/home']">
        <img style="width: 50px;" src="https://files.softicons.com/download/application-icons/hex-icons-pack-by-martz90/png/512x512/gamehub.png">
      </ion-button>
      <ion-button [routerLink]="['/create-game']">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/creation-collection']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>