<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">Mon App</ion-button>
      <ion-button [routerLink]="['/create-collection']">Créer une collection</ion-button>
      <ion-button [routerLink]="['/list-collection']">Liste des collections</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="newCollectionName" label="Ajouter une nouvelle collection" placeholder="Horreur et Suspense"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="newCollectionDescription" label="Ajouter une description" placeholder="Plongez dans une atmosphère sombre et oppressante"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Image de la collection</ion-label>
      <input type="file" (change)="onImageChange($event)" />
    </ion-item>    
    <div class="btn-add">
      <ion-button (click)="addCollection()">Ajouter</ion-button>
    </div>
  </ion-list>