.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-button-valid {
  background-color: #169342;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 15px;
}
  