ion-list {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

ion-content {
  --background: transparent;
  height: 100%;
  overflow-y: auto;
  scroll-padding-bottom: 50px;
}

.custom-page-background {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-item {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: auto;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}