.card-item {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .buttonGoToDetails {
    color: rgb(0, 255, 0);
  }
  
  .deleteIcon {
    font-size: 24px;
    color: #ff3b30;
  }
  
  ion-card-title {
    font-size: 25px;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 20px;
    color: #666;
  }
  
  ion-button {
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
  .delete-button {
    margin-left: auto;
  }
  
  ion-col.ion-text-end {
    display: flex;
    justify-content: flex-end;
  }
  