<ion-content color="red" class="custom-page-background">
  <ion-list style="background-color: transparent;">
    <ion-card class="card-item" 
    *ngFor="let collection of collections"
    [ngStyle]="{'background-image': collection.image ? 'url(' + collection.image + ')' : 'none', 'background-size': 'cover', 'background-position': 'center'}"
    >
      <ion-card-header>
        <ion-card-title>{{ collection.name }}</ion-card-title>
        <ion-card-subtitle>{{ collection.createdAt | date: 'dd-MM-yyyy' }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{ collection.description }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>