<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Adresse e-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Connexion</ion-button>
  </form>
</ion-content>
