<ion-list>
  <ion-item>
    <ion-input class="form-container" [(ngModel)]="newCollectionName" label="Nom de la collection"
      labelPlacement="stacked" [clearInput]="true" placeholder="Entrez le nom de la collection" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="newCollectionDescription" label="Description" labelPlacement="stacked" [clearInput]="true"
      placeholder="Entrez une description">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Image de la collection</ion-label>
    <input type="file" (change)="onImageChange($event)" />
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Créé le</ion-label>
    <ion-input [value]="collectionCreatedAt | date:'dd-MM-yyyy, HH:mm:ss'" disabled></ion-input>
  </ion-item>
</ion-list>
<div class="btn-add">
  <button class="style-button-valid" (click)="addCollection()">
    Valider
  </button>
</div>