<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">Mon App</ion-button>
      <ion-button [routerLink]="['/create-collection']">Créer une collection</ion-button>
      <ion-button [routerLink]="['/list-collection']">Liste des collections</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="newTodo" label="Ajouter une nouvelle tâche" placeholder="Désactiver l'alarme..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="newDescription" label="Ajouter une description" placeholder="Cette tâche consiste à désactiver un système d'alarme"></ion-input>
    </ion-item>
    <div class="btn-add">
      <ion-button (click)="addTodo()">Ajouter</ion-button>
    </div>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let todo of todos">
      <div class="container_todo">
        <ion-label [class.completed]="todo.completed">{{ todo.title }}</ion-label>
        <ion-label class="description-label" [class.completed]="todo.completed">{{ todo.description }}</ion-label>
        <ion-label class="date-label" [class.completed]="todo.completed">{{ todo.date | date:'yyyy-MM-dd' }}</ion-label>
      </div>
      <ion-checkbox slot="start" [(ngModel)]="todo.completed" (ionChange)="toggleComplete(todo)"></ion-checkbox>
      <ion-button fill="clear" color="danger" (click)="deleteTodo(todo.id)">
        Supprimer
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>