.completed {
    text-decoration: line-through;
    color: gray;
}  

.container_todo {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.description-label {
  font-size: small;
}

.btn-add {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.date-label {
  color: gray;
  font-size: small;
}