<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">Mon App</ion-button>
      <ion-button [routerLink]="['/create-collection']">Créer une collection</ion-button>
      <ion-button [routerLink]="['/list-collection']">Liste des collections</ion-button>
      <ion-button [routerLink]="['/create-game']">Créer un jeu vidéo</ion-button>
      <ion-button [routerLink]="['/list-games']">Liste jeux vidéos</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="widgets-container">
    <!-- Widget principal -->
    <div class="widget main-widget">
      <h2>Collectionnez vos jeux, traversez les univers !</h2>
    </div>
    
    <div class="container-last-widgets">
      <h2>Mes collections</h2>
      <p class="view-all">Voir tout</p>
      <div class="row">
        <div class="widget secondary-widget">
          <h3>FPS & Action</h3>
        </div>
        <div class="widget secondary-widget">
          <h3>RPG & Fantasy</h3>
        </div>
      </div>
      <!-- Rangée 2 : 2 widgets -->
      <h2>Mes jeux</h2>
      <p class="view-all">Voir tout</p>
      <div class="row">
        <div class="widget secondary-widget" id="call_of_duty">
          <h3>Call of Duty</h3>
        </div>
        <div class="widget secondary-widget" id="fortnite">
          <h3>Fortnite</h3>
        </div>
      </div>
    </div>
  </div>
</ion-content>
