.widgets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 16px;
  padding: 10px;
  background-color: #1E193B;
}

.widget {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Widget principal : largeur totale */
.main-widget {
  background-image: url("../../assets/img/cover-background-artist.gif");
  width: 900px;
  height: 100px;
}

/* Widgets secondaires */
.secondary-widget {
  width: 400px; /* Ajuste la largeur */
  height: 150px;
  display: flex;
  justify-content: flex-start; /* Alignement horizontal (gauche) */
  align-items: flex-end; /* Alignement vertical (bas) */
  padding: 20px 10px 10px 20px;
  position: relative; /* Nécessaire pour superposer le texte et l'effet */
  background-image: url("https://i.kinja-img.com/image/upload/c_fit,q_60,w_645/7f2dd4eb6a9259677c3ff1225e1f208c.jpg");
  background-size: cover; /* L'image remplit entièrement le widget */
  background-position: center; /* L'image est centrée */
  overflow: hidden;
}

.secondary-widget::before {
  content: ''; /* Pseudo-élément pour l'effet de noirceur */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couche noire semi-transparente */
  z-index: 1; /* Place l'effet sous le texte */
}

.secondary-widget h3 {
  position: relative; /* Place le titre au-dessus de la couche noire */
  z-index: 2; /* Assure que le texte est visible */
  color: #ffffff; /* Couleur du texte pour le contraste */
  font-size: 18px;
  margin: 0;
}

#call_of_duty {
  background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/global/play-now-module/blackops6/PlayNowCard_Standard.webp");
}

#fortnite {
  background-image: url("https://www.micromania.fr/on/demandware.static/-/Sites-Micromania-Library/default/dw31aac9de/fanzone/dossier/fortnite/Fortnite-skins.jpg");
}

/* Rangée pour aligner horizontalement */
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.container-last-widgets {
  border-radius: 25px;
  padding: 10px;
  background-color: #312B4F;
  width: 100%;
  max-width: 900px;
}

.container-last-widgets p {
  color: #848096;
}

.view-all:hover {
  text-decoration: underline;
  cursor: pointer;
}
