<ion-footer>
  <ion-toolbar class="footer">
    <ion-buttons class="center-icons">
      <ion-button [routerLink]="['/list-collection']">
        <ion-icon name="library-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/list-games']">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/home']">
        <img style="width: 50px;" src="https://files.softicons.com/download/application-icons/hex-icons-pack-by-martz90/png/512x512/gamehub.png">
      </ion-button>
      <ion-button [routerLink]="['/create-game']">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/creation-collection']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


<ion-content>
  <div class="widgets-container">
    <ion-card class="first-container">
        <ion-card-title>Bienvenue sur mon application</ion-card-title>
    </ion-card>

    <div class="container-global">
      <div class="second-container">
        <h2>Mes collections</h2>
        <ion-card id="first-card" [routerLink]="['/list-collection']">
          <div class="card-overlay">
            <ion-card-header>
              <ion-card-title>Collections</ion-card-title>
              <ion-card-subtitle>Explorez des Univers</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Plongez dans des mondes fascinants et variés.
            </ion-card-content>
          </div>
        </ion-card>
      
      <h2>Mes jeux</h2>
      <ion-card id="first-card" [routerLink]="['/list-games']">
        <div class="card-overlay">
          <ion-card-header>
            <ion-card-title>Jeux vidéos</ion-card-title>
            <ion-card-subtitle>Explorez des jeux</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Découvrez des univers uniques et des aventures épiques.
          </ion-card-content>
        </div>
      </ion-card>
    </div>
    </div>
  </div>
</ion-content>
