<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedForm" value="collection">
      <ion-segment-button value="collection">
        <ion-label>Créer une collection</ion-label>
      </ion-segment-button>
      <ion-segment-button value="game">
        <ion-label>Créer un jeu</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-page-background">

  <!-- Création jeu vidéo ou collection -->

  <div *ngIf="selectedForm === 'game'" class="form-container">
    <app-create-game></app-create-game>
  </div>
  <div *ngIf="selectedForm === 'collection'" class="form-container">
    <app-create-collection></app-create-collection>
  </div>


</ion-content>