<ion-footer>
  <ion-toolbar class="footer">
    <ion-buttons class="center-icons">
      <ion-button (click)="navigateTo('/list-collection')">
        <ion-icon name="library-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="navigateTo('/list-games')">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="navigateTo('/home')">
        <img style="width: 50px;" src="https://files.softicons.com/download/application-icons/hex-icons-pack-by-martz90/png/512x512/gamehub.png">
      </ion-button>
      <ion-button (click)="navigateTo('/create-game')">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="navigateTo('/form')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
